<span style="height: <%= size %>px; width: <%= size %>px" class="relative inline-block shadow rounded-full overflow-hidden bg-gray-100">
  <% if @user.avatar.attached? && !@user.errors.map(&:attribute).include?(:avatar) %>
    <%= image_tag @user.avatar.variant(resize_to_limit: [resize_value, resize_value]), class: "h-full w-full object-cover", alt: "Profile picture" %>
  <% else %>
    <%= image_tag "avatars/#{@user.default_avatar_number}.png", class: "h-full w-full object-cover", alt: "Default profile picture" %>
  <% end %>
</span>