<div class="sm:mt-2 md:mt-4 lg:mt-6 xl:mt-12 max-w-2xl mx-auto h-full">
  <header class="flex items-center justify-between px-4 sm:px-0 mb-4">
    <h1>New Link</h1>
  </header>
  <main>
    <%= render "form", link: @link %>
  </main>
</div>
