<div class=" shrink-0" data-controller="forms--file-avatar">
  <span class="relative inline-block shadow-sm h-24 w-24 rounded-full overflow-hidden bg-gray-100 border-2 border-gray-200">

    <% if @user.avatar.attached? && !@user.errors.map(&:attribute).include?(:avatar) %>
      <%= image_tag @user.avatar.variant(resize_to_limit: [240, 240]), class: "h-full w-full", data: {forms__file_avatar_target: "image" } %>
    <% else %>
      <%= image_tag "avatars/#{@user.default_avatar_number}.png", class: "mx-auto h-full", data: {forms__file_avatar_target: "image" } %>
    <% end %>

    <span tabindex="0"
          class="cursor-pointer h-full w-full rounded-full hover:backdrop-blur focus:backdrop-blur opacity-0 hover:opacity-100 focus:opacity-100 focus:outline-none transition absolute top-0 hover:bg-gradient-to-t focus:bg-gradient-to-t from-gray-100"
          data-action="keypress->forms--file-avatar#browse click->forms--file-avatar#browse"
          data-forms--file-avatar-target="label">

      <span class="flex flex-col items-center justify-center h-full text-gray-800">
        <span class="animate-bounce"><%= heroicon "upload" %></span>
        <span class="text-center text-sm font-medium select-none">Upload</span>
      </span>
    </span>

  </span>
  <%= @form.file_field :avatar, class: "hidden", accept: 'image/png,image/gif,image/jpeg', data: {forms__file_avatar_target: "input", action: "change->forms--file-avatar#selected"} %>
</div>

