<div tabindex="0" class="btn btn-secondary btn-sm normal-case cursor-pointer min-w-0 truncate" data-controller="forms--file-button" data-action="keypress->forms--file-button#browse click->forms--file-button#browse">
  <%=
    @form.label @attribute, data: {forms__file_button_target: "label"} do
      content
    end
  %>
  <%= @form.file_field @attribute, class: "hidden", data: {forms__file_button_target: "input", action: "change->forms--file-button#selected"} %>
</div>
